/* Dialog */
.Dialog {
  &-overlay {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(20, 26, 31, 0.9);
  }

  &-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;

    @media (width < 810px) {
      width: calc(100% - 70px);
    }

    iframe {
      width: 740px;
      height: 480px;

      @media (width < 810px) {
        width: 100%;
        height: 240px;
      }
    }
  }

  &-btn__close {
    position: absolute;
    display: inline-block;
    top: -35px;
    right: -35px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: url(../img/icon_close.svg) center center no-repeat;
    opacity: 0.2;
    z-index: 2;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

.hidden {
  overflow-y: hidden;
}
